
{#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#See https://symfony.com/doc/current/security/remember_me.html#}

{#<div class="checkbox mb-3">#}
    {#<label>#}
        {#<input type="checkbox" name="_remember_me"> Remember me#}
    {#</label>#}
{#</div>#}

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!-- Include the above in your HEAD tag -->

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/login/css/main.css">
    </head>
    <body>
        <div class="main">
            <div class="container">
                <div class="middle">
                    <div id="login">

                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger" style="font-size: 1.2em;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="alert alert-info mb-3" style="font-size: 1.2em;">
                                    Você está logado como {{ app.user.username }}, <a href="{{ path('app_logout') }}" style="font-size:.8em;color: #000000;">Logout</a>
                                </div>
                            {% endif %}

                            <fieldset class="clearfix">

                                <p>
                                    <span class="fa fa-user"></span>
                                    <input type="text" value="{{ last_username }}" placeholder="Usuário" name="usuario" id="inputUsuario" required autofocus>
                                </p>
                                <p>
                                    <span class="fa fa-lock"></span>
                                    <input type="password" placeholder="Senha" name="password" id="inputPassword" required>
                                </p>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">Esqueceu a senha?</a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;">
                                        <input type="submit" value="Entrar">
                                    </span>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                        </form>

                        <div class="clearfix"></div>

                    </div> <!-- end login -->
                    <div class="logo">
                        JJM
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

        </div>
    </body>
</html>
