{% extends 'base.html.twig' %}

{#{% block title %}TipoConsulta{% endblock %}#}

{% block body %}
{#    <h1>TipoConsulta</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Tipo de Sessão / </span>Visualizar Tipo de Sessão
        </h1>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ tipo_consultum.idtipoConsulta }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ tipo_consultum.nome }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ tipo_consultum.descricao }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <a class="btn btn-secondary" href="{{ path('tipo_consulta_index') }}">Voltar à Lista</a>

    <a class="btn btn-primary" href="{{ path('tipo_consulta_edit', {'idtipoConsulta': tipo_consultum.idtipoConsulta}) }}">Editar</a>
</div>
</div>
{#    {{ include('tipo_consulta/_delete_form.html.twig') }}#}
{% endblock %}
