{{ form_start(form) }}
    {{ form_widget(form) }}
<hr>
    <a class="btn btn-secondary" href="{{ path('receitas_index') }}">Voltar à Lista</a>
    <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
{% if app.request.pathinfo != '/receitas/new' %}
    {{ include('receitas/_delete_form.html.twig') }}
{% endif %}
{{ form_end(form) }}
