{% extends 'base.html.twig' %}

{#{% block title %}Receitas index{% endblock %}#}

{% block body %}
    {#    <h1>Receitas index</h1>#}
    {#    TODO: EDITAR#}
    <div class="box box-primary">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-file icon-gradient bg-amy-crisp">
                        </i>
                    </div>
                    <div>Listagem de Receitas
                        <div class="page-title-subheading">Todos as receitas da Clinica JJM.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <a class="btn btn-success m-3" href="{{ path('receitas_index') }}"><i class="fa fa-plus"></i>
                        Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="main-card mb-3 card">
                <div class="card-body">

                    <table class="table" id="tabela-receitas">
                        <thead>
                        <tr>
                            <th>DsReceita</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for receita in receitas %}
                            <tr>
                                <td>{{ receita.dsReceita }}</td>
                                <td>
                                    <a href="{{ path('receitas_show', {'id': receita.id}) }}">show</a>
                                    <a href="{{ path('receitas_edit', {'id': receita.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#tabela-receitas').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 1,
                        "orderable": false,
                        // "width" : "20%"
                    },
                ],
                "responsive": true,
                "autoWidth": true
            });
        });
    </script>
    {#    <a href="{{ path('receitas_new') }}">Create new</a>#}
{% endblock %}
