{{ form_start(form) }}
    {{ form_widget(form) }}
<hr>
<a class="btn btn-secondary" href="{{ path('laudos_index') }}">Voltar à Lista</a>
    <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
{% if app.request.pathinfo != '/laudos/new' %}
    {{ include('laudos/_delete_form.html.twig') }}
{% endif %}
{{ form_end(form) }}
