{% extends 'base.html.twig' %}

{% block title %}Prontuarios index{% endblock %}

{% block body %}
    <h1>Prontuarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DsProntuario</th>
                <th>Data</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prontuario in prontuarios %}
            <tr>
                <td>{{ prontuario.id }}</td>
                <td>{{ prontuario.dsProntuario }}</td>
                <td>{{ prontuario.data ? prontuario.data|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('prontuarios_show', {'id': prontuario.id}) }}">show</a>
                    <a href="{{ path('prontuarios_edit', {'id': prontuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prontuarios_new') }}">Create new</a>
{% endblock %}
