{% extends 'base.html.twig' %}

{#{% block title %}Prontuarios index{% endblock %}#}

{% block body %}
    {#    TODO: EDITAR#}
    <div class="box box-primary">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-copy-file icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>Listagem de Prontuários
                        <div class="page-title-subheading">Todos os prontuários da Clinica JJM.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <a class="btn btn-success m-3" href="{{ path('prontuarios_new') }}"><i class="fa fa-plus"></i>
                        Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="main-card mb-3 card">
                <div class="card-body">

                    <table class="table" id="tabela-prontuarios">
                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Laudos</th>
                            <th>Pacientes</th>
                            <th>Descrição</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prontuario in prontuarios %}
                            <tr>
                                <td>{{ prontuario.data ? prontuario.data|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ prontuario.laudos }}</td>
                                <td>{{ prontuario.pacientespacientes }}</td>
                                <td>{{ prontuario.dsProntuario }}</td>
                                <td>
                                    <a class="mb-2 mr-2 btn btn-primary"
                                       href="{{ path('prontuarios_show', {'id': prontuario.id}) }}" title="Ver"
                                       data-toggle="tooltip" data-placement="bottom"><i
                                                class="fa fa-eye"></i></a>

                                    <a class="mb-2 mr-2 btn btn-success"
                                       href="{{ path('prontuarios_edit', {'id': prontuario.id}) }}" title="Editar"
                                       data-toggle="tooltip" data-placement="bottom"><i
                                                class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#tabela-prontuarios').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 4,
                        "orderable": false,
                        // "width" : "20%"
                    },
                ],
                "responsive": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}
