{% extends 'base.html.twig' %}

{% block title %}Exames index{% endblock %}

{% block body %}
    <h1>Exames index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Imagens</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exame in exames %}
            <tr>
                <td>{{ exame.id }}</td>
                <td>{{ exame.data ? exame.data|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ exame.imagens }}</td>
                <td>
                    <a href="{{ path('exames_show', {'id': exame.id}) }}">show</a>
                    <a href="{{ path('exames_edit', {'id': exame.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exames_new') }}">Create new</a>
{% endblock %}
