{% extends 'base.html.twig' %}

{% block title %}Consultas{% endblock %}

{% block body %}
    <h1>Consultas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consulta.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ consulta.data ? consulta.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ValorConsulta</th>
                <td>{{ consulta.valorConsulta }}</td>
            </tr>
            <tr>
                <th>ConsultaConfirmada</th>
                <td>{{ consulta.consultaConfirmada ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consultas_index') }}">Voltar à Lista</a>

    <a href="{{ path('consultas_edit', {'id': consulta.id}) }}">edit</a>

    {{ include('consultas/_delete_form.html.twig') }}
{% endblock %}
