{% extends 'base.html.twig' %}

{% block title %}Acesso{% endblock %}

{% block body %}
    {#    <h1>Acesso</h1>#}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Acesso / </span>Visualizar Acesso
        </h1>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ acesso.id }}</td>
                </tr>
                <tr>
                    <th>Usuário</th>
                    <td>{{ acesso.usuario }}</td>
                </tr>
                <tr>
                    <th>Senha</th>
                    <td>{{ acesso.password }}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <a class="mb-2 mr-2 btn btn-secondary" href="{{ path('acesso_index') }}">Voltar à Lista</a>
            <a class="mb-2 mr-2 btn btn-primary" href="{{ path('acesso_edit', {'id': acesso.id}) }}">Editar</a>
        </div>
    </div>

{#    {{ include('acesso/_delete_form.html.twig') }}#}
{% endblock %}
