{{ form_start(form) }}
    {{ form_widget(form) }}
<hr>
<a class="btn btn-secondary mr-2 mb-2" href="{{ path('funcionarios_index') }}">Voltar à
    Lista</a>
<button class="btn btn-success mr-2 mb-2">{{ button_label|default('Salvar') }}</button>
{{ form_end(form) }}
