<h5 class="card-title">Dados Profissionais</h5>
<div class="form-row">
    <div class="col-md-6">{{ form_row(form.nome) }}</div>
    <div class="col-md-6">{{ form_row(form.dataNascimento) }}</div>
</div>
<div class="form-row">
    <div class="col-md-6">{{ form_row(form.sexo) }}</div>
    <div class="col-md-6">{{ form_row(form.telefoneCelular) }}</div>
</div>
<hr>
<h5 class="card-title">Dados de Acesso</h5>
<div class="form-row">
    <div class="col-md-6">{{ form_row(form2.usuario) }}</div>
    <div class="col-md-6">{{ form_row(form2.password) }}</div>
</div>
<div class="form-row">
    <div class="col-md-6">{{ form_row(form2.perfil) }}</div>
    <div class="col-md-6">{{ form_row(form2.roles) }}</div>
</div>


{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    {{ form_start(form2) }}#}
{#        {{ form_widget(form2) }}#}
    {{ form_end(form2) }}
{{ form_end(form) }}
<hr>
<a class="btn btn-secondary" href="{{ path('funcionarios_index') }}">Voltar à Lista</a>
<button class="btn btn-success" id="btnFormFuncionario">{{ button_label|default('Salvar') }}</button>
