{% extends 'base.html.twig' %}

{% block body %}
    <div class="box box-primary">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-deep-blue">
                        </i>
                    </div>
                    <div>Listagem de Funcion&aacute;rios
                        <div class="page-title-subheading">Todos os funcion&aacute;rios da Clinica JJM.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <a class="btn btn-success m-3" href="{{ path('funcionarios_new') }}"><i class="fa fa-plus"></i>
                        Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data de Nascimento</th>
                            <th>Data de Admissão</th>
                            <th>Sexo</th>
                            <th>Telefone Celular</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for funcionario in funcionarios %}
                            <tr>
                                <td>{{ funcionario.nome }}</td>
                                <td>{{ funcionario.dataNascimento ? funcionario.dataNascimento|date('Y-m-d') : '' }}</td>
                                <td>{{ funcionario.dataAdmissao ? funcionario.dataAdmissao|date('Y-m-d') : '' }}</td>
                                <td>
                                    {% if funcionario.sexo == 'm' %}
                                        Masculino
                                    {% elseif funcionario.sexo == 'f' %}
                                        Feminino
                                    {% else %}
                                        Não declarar
                                    {% endif %}
                                </td>
                                <td>{{ funcionario.telefoneCelular }}</td>
                                <td>
                                    <a class="mb-2 mr-2 btn btn-primary"
                                       href="{{ path('funcionarios_show', {'id': funcionario.id}) }}" title="Ver"
                                       data-toggle="tooltip" data-placement="bottom"><i
                                                class="fa fa-eye"></i></a>

                                    <a class="mb-2 mr-2 btn btn-success"
                                       href="{{ path('funcionarios_edit', {'id': funcionario.id}) }}" title="Editar"
                                       data-toggle="tooltip" data-placement="bottom"><i
                                                class="fa fa-edit"></i></a>

                                    <a class="mb-2 mr-2 btn btn-danger"
                                       href="{{ path('funcionarios_desativar', {'id': funcionario.id}) }}"
                                       title="Desativar" data-toggle="tooltip" data-placement="bottom"><i
                                                class="fas fa-user-slash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 5,
                        "orderable": false,
                        // "width" : "20%"
                    },
                ],
                "responsive": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}
