{% extends 'base.html.twig' %}

{% block title %}Funcionarios index{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h1 style='font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'>
                    Listagem de Funcion&aacute;rios
                </h1>
            </div>
            <div class="col-sm-6 text-right" style="display: block">
                <a class="btn btn-success m-3" href="{{ path('funcionarios_new') }}"><i class="fa fa-plus"></i>
                    Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>Data de Admissão</th>
                        <th>Sexo</th>
                        <th>Telefone Celular</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for funcionario in funcionarios %}
                        <tr>
                            <td>{{ funcionario.id }}</td>
                            <td>{{ funcionario.nome }}</td>
                            <td>{{ funcionario.dataNascimento ? funcionario.dataNascimento|date('Y-m-d') : '' }}</td>
                            <td>{{ funcionario.dataAdmissao ? funcionario.dataAdmissao|date('Y-m-d') : '' }}</td>
                            <td>
                                {% if funcionario.sexo == 'm' %}
                                    Masculino
                                {% elseif funcionario.sexo == 'f' %}
                                    Feminino
                                {% else %}
                                    Não declarar
                                {% endif %}
                            </td>
                            <td>{{ funcionario.telefoneCelular }}</td>
                            <td>
                                {{ include('funcionarios/_delete_form.html.twig') }}
{#                                <div class="d-inline-block dropdown">#}
{#                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">#}
{#                                        <span class="btn-icon-wrapper pr-2 opacity-7">#}
{#                                            <i class="fa fa-business-time fa-w-20"></i>#}
{#                                        </span>#}
{#                                        Buttons#}
{#                                    </button>#}
{#                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-129px, 33px, 0px);">#}
{#                                        <ul class="nav flex-column">#}
{#                                            <li class="nav-item">#}
{#                                                <a class="nav-link">#}
{#                                                    <i class="nav-link-icon lnr-inbox"></i>#}
{#                                                    <span>#}
{#                                                        Inbox#}
{#                                                    </span>#}
{#                                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a class="nav-link">#}
{#                                                    <i class="nav-link-icon lnr-book"></i>#}
{#                                                    <span>#}
{#                                                        Book#}
{#                                                    </span>#}
{#                                                    <div class="ml-auto badge badge-pill badge-danger">5</div>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a class="nav-link">#}
{#                                                    <i class="nav-link-icon lnr-picture"></i>#}
{#                                                    <span>#}
{#                                                        Picture#}
{#                                                    </span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                            <li class="nav-item">#}
{#                                                <a disabled="" class="nav-link disabled">#}
{#                                                    <i class="nav-link-icon lnr-file-empty"></i>#}
{#                                                    <span>#}
{#                                                        File Disabled#}
{#                                                    </span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 6,
                        "orderable": false,
                        // "width" : "20%"
                    },
                ],
                "responsive": true
            });
        });
    </script>
{% endblock %}
