{% extends 'base.html.twig' %}

{#{% block title %}Funcionarios{% endblock %}#}

{% block body %}
    <div class="page-header">
        <h1>
            <span class="text-muted font-weight-light">Funcionário / </span>Visualizar Funcionário
        </h1>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ funcionario.id }}</td>
                </tr>
                <tr>
                    <th>Nome</th>
                    <td>{{ funcionario.nome }}</td>
                </tr>
                <tr>
                    <th>Data de Nascimento</th>
                    <td>{{ funcionario.dataNascimento ? funcionario.dataNascimento|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Data de Admissão</th>
                    <td>{{ funcionario.dataAdmissao ? funcionario.dataAdmissao|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>
                        {% if funcionario.sexo == 'm' %}
                            Masculino
                        {% elseif funcionario.sexo == 'f' %}
                            Feminino
                        {% else %}
                            Não declarar
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Contato</th>
                    <td>{{ funcionario.telefoneCelular }}</td>
                </tr>
                <tr>
                    <th>Ativo</th>
                    <td>{% if funcionario.ativo == 1 %}
                            SIM
                        {% else %}
                            NÂO
                        {% endif %}</td>
                </tr>
                </tbody>
            </table>
            <hr>
            <a class="btn btn-secondary" href="{{ path('funcionarios_index') }}">Voltar à Lista</a>

            <a class="btn btn-primary" href="{{ path('funcionarios_edit', {'id': funcionario.id}) }}">Editar</a>

            <a class="btn btn-alternate" href="{{ path('change_password') }}">Alterar Senha</a>
        </div>
    </div>
{% endblock %}
