{% extends 'base.html.twig' %}

{% block body %}
{#    TODO: EDITAR#}
    <div class="box box-primary">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-deep-blue">
                        </i>
                    </div>
                    <div>Listagem de Perfis
                        <div class="page-title-subheading">Todos os perfis da Clinica JJM.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <a class="btn btn-success m-3" href="{{ path('perfil_index') }}"><i class="fa fa-plus"></i>
                        Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table class="table" id="tabela-perfil">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descricao</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for perfil in perfils %}
                            <tr>
                                <td>{{ perfil.nome }}</td>
                                <td>{{ perfil.descricao }}</td>
                                <td>
                                    <a class="mb-2 mr-2 btn btn-primary"
                                       href="{{ path('perfil_show', {'idperfil': perfil.idperfil}) }}" title="Ver"
                                       data-toggle="tooltip" data-placement="bottom"><i
                                                class="fa fa-eye"></i></a>

                                    <a class="mb-2 mr-2 btn btn-success"
                                       href="{{ path('perfil_edit', {'idperfil': perfil.idperfil}) }}" title="Editar"
                                       data-toggle="tooltip" data-placement="bottom"><i
                                                class="fa fa-edit"></i></a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#tabela-perfil').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 2,
                        "orderable": false,
                        // "width" : "20%"
                    },
                ],
                "responsive": true,
                "autoWidth": true
            });
        });
    </script>
{% endblock %}
