{% extends 'base.html.twig' %}

{#{% block title %}Pacientes index{% endblock %}#}

{% block body %}
    {#    <h1>Pacientes index</h1>#}
    {#TODO: EDITAR#}
    <div class="box box-primary">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-warm-flame">
                        </i>
                    </div>
                    <div>Listagem de Pacientes
                        <div class="page-title-subheading">Todas os pacientes da Clinica JJM.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <a class="btn btn-success m-3" href="{{ path('pacientes_new') }}"><i class="fa fa-plus"></i>
                        Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table class="table" id="tabela-pacientes">
                        <thead>
                        <tr>
{#                            <th>Id</th>#}
                            <th>Nome</th>
                            <th>DataNascimento</th>
                            <th>DataCadastro</th>
                            <th>Sexo</th>
                            <th>EstadoCivil</th>
                            <th>Profissao</th>
                            <th>TelefoneCelular</th>
                            <th>Email</th>
                            <th>Endereco</th>
                            <th>Uf</th>
                            <th>Cidade</th>
                            <th>Cep</th>
                            <th>Bairro</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            <tr>
{#                                <td>{{ paciente.id }}</td>#}
                                <td>{{ paciente.nome }}</td>
                                <td>{{ paciente.dataNascimento ? paciente.dataNascimento|date('Y-m-d') : '' }}</td>
                                <td>{{ paciente.dataCadastro ? paciente.dataCadastro|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ paciente.sexo }}</td>
                                <td>{{ paciente.estadoCivil }}</td>
                                <td>{{ paciente.profissao }}</td>
                                <td>{{ paciente.telefoneCelular }}</td>
                                <td>{{ paciente.email }}</td>
                                <td>{{ paciente.endereco }}</td>
                                <td>{{ paciente.uf }}</td>
                                <td>{{ paciente.cidade }}</td>
                                <td>{{ paciente.cep }}</td>
                                <td>{{ paciente.bairro }}</td>
                                <td>
                                    <a href="{{ path('pacientes_show', {'id': paciente.id}) }}">show</a>
                                    <a href="{{ path('pacientes_edit', {'id': paciente.id}) }}">edit</a>
                                </td>
                            </tr>
                            {#        {% else %}#}
                            {#            <tr>#}
                            {#                <td colspan="15">no records found</td>#}
                            {#            </tr>#}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#tabela-pacientes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 13,
                        "orderable": false
                    },
                ],
                "responsive": true
            });
        });
    </script>
    {#    <a href="{{ path('pacientes_new') }}">Create new</a>#}
{% endblock %}
