{% extends 'base.html.twig' %}

{#{% block title %}Pacientes index{% endblock %}#}

{% block body %}
    {#    <h1>Pacientes index</h1>#}
    {#TODO: EDITAR#}
    <div class="box box-primary">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-warm-flame">
                        </i>
                    </div>
                    <div>Listagem de Pacientes
                        <div class="page-title-subheading">Todas os pacientes da Clinica JJM.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <a class="btn btn-success m-3" href="{{ path('pacientes_new') }}"><i class="fa fa-plus"></i>
                        Cadastrar</a>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table class="table" id="tabela-pacientes">
                        <thead>
                        <tr>

                            <th>Nome</th>
                            <th>Data de Nascimento</th>

                            <th>Sexo</th>

                            <th>UF</th>

                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            <tr>

                                <td>{{ paciente.nome }}</td>
                                <td>{{ paciente.dataNascimento ? paciente.dataNascimento|date('Y-m-d') : '' }}</td>

                                <td>{{ paciente.sexo }}</td>

                                <td>{{ paciente.uf }}</td>

                                <td>


                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Ações
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="mb-2 mr-2 bg-primary text-white dropdown-item"
                                               href="{{ path('pacientes_show', {'id': paciente.id}) }}" title="Ver"
                                               data-toggle="tooltip" data-placement="left"><i
                                                        class="fa fa-eye"></i> &nbsp;&nbsp; Ver</a>

                                            <a class="mb-2 mr-2 bg-alternate text-white dropdown-item"
                                               href="{{ path('pacientes_edit', {'id': paciente.id}) }}" title="Editar"
                                               data-toggle="tooltip" data-placement="left"><i
                                                        class="fa fa-edit"></i>&nbsp;&nbsp; Editar</a>
                                            <a class="mb-2 mr-2 bg-secondary text-white dropdown-item"
                                               href="{{ path('exames_new', {'paciente': paciente.id}) }}" title="Cadastrar Exame"
                                               data-toggle="tooltip" data-placement="left"><i
                                                        class="fas fa-notes-medical"></i>&nbsp;&nbsp; Cadastrar Exame</a>
                                            {% if is_granted('ROLE_PSICOLOGO') %}
                                                <a class="mb-2 mr-2 bg-dark text-white dropdown-item"
                                                   href="{{ path('prontuarios_new', {'paciente': paciente.id}) }}" title="Cadastrar Prontuário"
                                                   data-toggle="tooltip" data-placement="left"><i
                                                            class="fas fa-files-medical"></i>&nbsp;&nbsp; Cadastrar Prontuário</a>
                                            {% endif %}
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#tabela-pacientes').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "columnDefs": [
                    {
                        "targets": 4,
                        "orderable": false
                    },
                ],
                "responsive": true
            });
        });
    </script>
    {#    <a href="{{ path('pacientes_new') }}">Create new</a>#}
{% endblock %}
